* {font-family: 'Courier New', Courier, monospace;}
#myNavbar, .navbar-right, .navbar-nav, .nav, .navbar-fixed-top, .navbar-right {
    background-color: black;
}
.row, footer {margin-top: 100px;}
ul li {padding: 10px; margin: 0;}
.logo {font-size: 4rem; padding: 10px;}
@media (max-width: 600px) {
    .col-lg-6 {margin-top: 40px;}
    #about {margin-bottom: 100px; margin-top: 75px;}
    .row {margin-top: 0;}
    img {max-width: 100%;}
}

