* {user-select: none; font-family: 'Noto Serif', serif;}
.intro {margin-top: 100px;}
img {width: 100%;}
img.icon {width: auto;}
img.me {width: 50%;}
header.well {margin-top: 75px;}
p.lead {text-align: left; padding: 10px; margin: 40px; font-size: 18px;}
h2 {padding: 10px; margin: 40px;}
a:hover, a.btn:hover {text-decoration: none;}
.glyphicon-chevron-up {margin-top: 20px;}
