/* CSS */
* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'Quicksand';}
body {background-image: url(../img/spiration-light.png)}
header {margin-top: 75px;}
p {margin: 10px; padding: 10px; background-color: white; line-height: 30px;}
